* {
	margin: 0;
	padding: 0;
}

html {
	font-family: Lato, sans-serif;
	color: black;
	font-size: 16px;
	line-height: 1.5em;
}

main {
	margin: 0 400px;
	display: grid;
	grid-template-columns: repeat(3, 300px);
	gap: 1.5rem;
	justify-content: center;
	padding: 2rem;
	grid-auto-rows: auto;
}


body {
	min-width: 500px;
	margin: auto;
	background-color: #F0F0F0;
}

header,
footer {
	text-align: center;
	min-width: 500px;
	height: 50px;
	padding: 15px 0 30px 0;
	background-color: #D14A41;
	color: #F0F0F0;
}

.navLogo {
	font-size: 2.5rem;
	font-weight: 800;
	line-height: 1.2em;
	padding: 10px;
	font-style: normal;
}

footer p {
	font-size: .8rem;
}

img {
	width: 100%;
	height: auto;
}

.snack {
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.5);
	display: flex;
	flex-direction: column;
	background-color: #FCEBE9;
	border-radius: 15px;
	border: none;
	padding: 10px;
	overflow: hidden;

}

h2 {
	font-size: 20px;
	text-transform: uppercase;
	font-weight: 700;
	line-height: 1.2em;
	padding: 12px 0px;
	color: #59416B;
}

.ranking {
	font-size: 18px;
	font-weight: 500;
	padding: 12px 0px;
}

.info {
	border-top: 1.5px solid #000000;
	padding-top: 10px;
	line-height: 1.3;
}
